---
layout: default
---
<div class="container">
	<header class="clearfix">
		<h1><img src="{{ site.url }}/img/memair_logo.png" alt="memair logo" width="75"/> {{ site.name }}</h1>
	</header>
	<div id="grid-gallery" class="grid-gallery">

	<section class="grid-wrap">
	<ul class="grid">
		<li class="grid-sizer"></li><!-- for Masonry column width -->
		{% for app in site.apps %}
		<li>
			<figure>
				<center>
					<div class="logo-thumb"><img src="{{ site.url }}/img/app_logos/{{ app.logo }}"></div>
				<center>
				<figcaption>
					<h3>{{ app.title}}</h3>
					<p>{{ app.subtitle }}</p>
				</figcaption>
			</figure>
		</li>
		{% endfor %}
	</ul>
	</section><!-- // grid-wrap -->

	<section class="slideshow">
	<ul>
		{% for app in site.apps %}
		<li>
			<figure>
				<center>
					<div class="logo"><img src="{{ site.url }}/img/app_logos/{{ app.logo }}"></div>
				<center>
				<figcaption>
					<h3>{{ app.title}}</h3>
					<p>{{ app.description }}</p>
					{% if app.status == 'alpha' %}
						<input type="button" class="install disabled" value="Coming soon..." />
					{% else %}
						<input type="button" class="install" onclick="location.href='{{ app.install_link}}';" value="Install" />
					{% endif %}
				</figcaption>
			</figure>
		</li>
		{% endfor %}
	</ul>
	<nav>
		<span class="icon nav-prev"></span>
		<span class="icon nav-next"></span>
		<span class="icon nav-close"></span>
	</nav>
	<div class="info-keys icon">Navigate with arrow keys</div>
	</section><!-- // slideshow -->

	</div><!-- // grid-gallery -->
</div>
